body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.b4yeWERuFjW2zQdmyiY0FAHaEo&pid=Api&P=0&h=180');
    background-repeat: no-repeat;
    margin: 0;
}

.container {
    text-align: center;
}

.clock {
    font-size: 2em;
    margin-bottom: 20px;
}

.format-toggle {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
   
}

